<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
  <test name="Test Group one">
      <classes>
      <class name="com.testcases.TestUnit"/>
      <class name="com.testcases.GeneralTest"/>
       <class name="com.testcases.SeleniumTests">
          <methods>
             <exclude name="test"></exclude>
          </methods>
       </class>
      </classes>
      
  </test> 
</suite> 